<html>
    <head>
        <title>Chatbot Study</title>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>

    </head>
    <body>
        <section class="section">

            <script type="text/javascript" charset="utf-8">
                var socket;
                $(document).ready(function() {

//                     socket = io.connect('http://' + document.domain + ':' + location.port);
                    socket = io.connect('https://' + document.domain+ ':' + location.port, {path: "/covidbotsocket"});


                    socket.on('connect', function() {
                        socket.emit('user_joined_annotation', {participantid: $('#pid').val()});
                    });

                    // This sends the message to server that the user typed and pressed enter
                    $('#text').keypress(function(e) {
                        var code = e.keyCode || e.which;
                        if (code == 13) {
                            text = $('#text').val();
                            $('#text').val('');
                            socket.emit('user_sent_message', {data: text});
                        }
                    });
                    
                    
                    // This sends the feedback to server that the user typed and pressed enter
//                     $('#feedback').keypress(function(e) {
//                         var code = e.keyCode || e.which;
//                         if (code == 13) {
//                             feedback_text = $('#feedback').val();
//                             $('#feedback').val('');
//                             socket.emit('user_sent_feedback', {data: feedback_text});
//                         }
//                     });
                    
                    
                    $('#pid_input').keypress(function(e) {
                        var code = e.keyCode || e.which;
                        if (code == 13) {
                            pid_text = $('#pid_input').val();
                            $('#pid_input').val('');
                            socket.emit('user_sent_pid', {data: pid_text, agent: 'covid_flow'});
                        }
                    });
                    
                    

                    // Calling this with data will render message on screen
                    socket.on('render_usr_message', function(data) {
                        $('#chat').val($('#chat').val() + 'YOU: ' + data.data + '\n\n');
                        $('#chat').scrollTop($('#chat')[0].scrollHeight);
                        
                        if (data.is_done == 'true'){
                            el = document.querySelector('.content_section');
                            el.style.visibility = 'visible'
                        }
                    });
                    
                    
                    socket.on('render_sys_message', function(data) {
                        $('#chat').val($('#chat').val() + 'SYSTEM: ' + data.data + '\n\n');
                        $('#chat').scrollTop($('#chat')[0].scrollHeight);
                    });
                    
                    socket.on('render_pid', function(data) {
                        $('#pid_received').val($('#pid_received').val() + data.data);
                        $('#pid_received').scrollTop($('#pid_received')[0].scrollHeight);
                    });

					

					socket.on('render_convo', function(data){
						
						let box_cols = ['helpful', 'mistake']
						let box_questions = ['This message was helpful', 'This message seemed like a system error']
						
						var form = document.createElement('form');
// 						form.setAttribute("method", "post"); 
// 						form.setAttribute("action", "submit.php");
						
						let body = document.getElementsByTagName('body')[0];
						let tbl = document.createElement('table');
						let thead = document.createElement('thead');
						let thr = document.createElement('tr');
						
// 						append header
						let tbdy = document.createElement('tbody');
						let tr = document.createElement('tr');
						// two empty td for message and response columns
						var td = document.createElement('td');
						td.setAttribute("style","width: 300px;");
						td.appendChild(document.createTextNode(''))
						tr.appendChild(td);
						var td = document.createElement('td');
						td.setAttribute("style","width: 300px;");
						td.appendChild(document.createTextNode(''))
						tr.appendChild(td);
						
						box_questions.forEach(function (box_q, j){
								var td = document.createElement('td');
								td.setAttribute("style","border: 1px solid green; width: 300px;");
								td.style.fontSize = "20px";
								td.appendChild(document.createTextNode(box_q));
								tr.appendChild(td);
						});
						tbdy.appendChild(tr); 
						
						// append each row with message, response, checkboxes
						data.forEach(function (pair, i) {
							let tr = document.createElement('tr');
							pair.forEach(function (msg, j) {
								var td = document.createElement('td');
// 								td.setAttribute("style","border: 1px solid green");
								td.setAttribute("style","border: 1px solid green; width: 300px;");
								td.style.fontSize = "20px";
								td.appendChild(document.createTextNode(msg));
								tr.appendChild(td);
								});
							
							box_cols.forEach(function (box, j){
								var td = document.createElement('td');
								td.setAttribute('style', 'border: 1px solid green; width: 300px; text-align: center; vertical-align: middle;');
								var cb = document.createElement('input');
								cb.setAttribute('type', 'checkbox');
								cb.setAttribute('name', 'is_'+box+'_'+i);
								cb.setAttribute('value', box+'_'+i);
								cb.setAttribute('style', "width:20px; height:20px;")
								td.appendChild(cb);
								tr.appendChild(td);
							});
							
							
							tbdy.appendChild(tr);  
							});
						
						tbl.appendChild(tbdy);
						
						form.appendChild(tbl);
						
						
						// Append the button to the form 
						var s = document.createElement("input"); 
						s.setAttribute("type", "submit"); 
						s.setAttribute("value", "Submit"); 
						s.setAttribute('onclick', "return storeAnnotations();");
						s.setAttribute('id', 'AnnotationSubmitButton');
						s.setAttribute('style', 'height: 40px; width: 300px')
						form.append(s); 
						
						body.appendChild(form);
						return tbl;
						
					});
										
					
                });
		
			function storeAnnotations() {						
				socket.emit('log_annotations', {data: $('form').serialize()});
				alert("Submitted! Please continue.");
				};
				
            </script>
            
            
            <div>
            	
            	<input type="hidden" id="pid" name="participantId" value="{{participantId}}" />
				
<!-- 
				<h1 class="title is-4" style="width: 100%; text-align: left;">Chatbot study: Annotate conversation experience</h1>
                <br>
                <b>Instructions:</b>
                <br>
               	Below you should see a conversation that you previously had with the chatbot. 
               	We would like more information on how you found each chatbot message.
               	Next to each chatbot message there is at least one checkbox that pertains to a question above the column of checkboxes.
               	If you think a chatbot message relates to the question, please check the box next to that response, i.e., check the boxes next to all the responses that you found, e.g., helpful.
               	
                <br>
                
                <br>
                <p><small><i>The following task is part of a research study at the University of California, Berkeley and University of California, Davis. 
                You have the right to decline to participate or to withdraw by not completing this task. 
                If you have not completed the online consent form and entry survey, please contact the researchers for more information: odemasi@ucdavis.edu or (510) 776-9028.
                </i></small></p>
                <br>
                <br>
 -->
               
            </div>
                   
        </section>
    </body>
</html>


<!-- textarea elements get updated by id and the id connects them to a socket, e.g., id="chat" >>>> #chat -->
