<html>
    <head>
        <title>Chatbot Study</title>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>

    </head>
    <body>
        <section class="section">

            <script type="text/javascript" charset="utf-8">
                var socket;
                $(document).ready(function() {

//                     socket = io.connect('http://' + document.domain + ':' + location.port);
                    socket = io.connect('https://' + document.domain+ ':' + location.port, {path: "/covidbotsocket"});


                    socket.on('connect', function() {
                        socket.emit('user_joined', {agent: 'therapybot'});
                    });

                    // This sends the message to server that the user typed and pressed enter
                    $('#text').keypress(function(e) {
                        var code = e.keyCode || e.which;
                        if (code == 13) {
                            text = $('#text').val();
                            $('#text').val('');
                            socket.emit('user_sent_message', {data: text});
                        }
                    });
                    
                    
                    // This sends the message to server that the user typed and pressed enter
                    $('#interleave_text').keypress(function(e) {
                        var code = e.keyCode || e.which;
                        if (code == 13) {
                            text = $('#interleave_text').val();
                            $('#interleave_text').val('');
                            socket.emit('user_sent_message_interleave', {data: text, agent: 'therapybot'});
                        }
                    });
                    
                    
                    // This sends the feedback to server that the user typed and pressed enter
//                     $('#feedback').keypress(function(e) {
//                         var code = e.keyCode || e.which;
//                         if (code == 13) {
//                             feedback_text = $('#feedback').val();
//                             $('#feedback').val('');
//                             socket.emit('user_sent_feedback', {data: feedback_text});
//                         }
//                     });
                    
                    
                    $('#pid_input').keypress(function(e) {
                        var code = e.keyCode || e.which;
                        if (code == 13) {
                            pid_text = $('#pid_input').val();
                            $('#pid_input').val('');
                            socket.emit('user_sent_pid', {data: pid_text, agent: 'therapybot'});
                        }
                    });
                    
                    

                    // Calling this with data will render message on screen
                    socket.on('render_usr_message', function(data) {
                        $('#chat').val($('#chat').val() + 'YOU: ' + data.data + '\n\n');
                        $('#chat').scrollTop($('#chat')[0].scrollHeight);
                        
                        if (data.is_done == 'true'){
                            el = document.querySelector('.content_section');
                            el.style.visibility = 'visible'
                        }
                    });
                    
                    
                    socket.on('render_sys_message', function(data) {
                        $('#chat').val($('#chat').val() + 'SYSTEM: ' + data.data + '\n\n');
                        $('#chat').scrollTop($('#chat')[0].scrollHeight);
                    });
                    
                    socket.on('render_pid', function(data) {
                        $('#pid_received').val($('#pid_received').val() + data.data);
                        $('#pid_received').scrollTop($('#pid_received')[0].scrollHeight);
                    });


                               
//                     $('#UserSubmitButton').click(function(e) {
//                         e.preventDefault();
//                         if ($('input[name=coherent]:checked').length < 1){
//                         alert("Please choose an option of how coherent the chatbot was");
//                         }else{
//                             if ($('input[name=realistic]:checked').length < 1){
//                             alert("Please choose an option for how realistic the chatbot was");
//                             }else{
//                                 if ($('input[name=consistent]:checked').length < 1){
//                                 alert("Please choose an option for how consistent the chatbot's persona was");
//                                 }else{
//                                     if ($('input[name=similarity]:checked').length < 1){
//                                     alert("Please choose how similar the chatbot's persona was to previous");
//                                     }else{
//                                         if ($('input[name=fluent]:checked').length < 1){
//                                         alert("Please choose how fluent the chatbot's language was");
//                                         }else{
//                                             if ($('input[name=specific]:checked').length < 1){
//                                             alert("Please choose how detailed the chatbot's responses were");
//                                             }else{
//                                                 if ($('input[name=humanlike]:checked').length < 1){
//                                                 alert("Please choose how human-like you think the chatbot was");
//                                                 }else{                                
//                                                     if ($('input[name=useful]:checked').length < 1){
//                                                         alert("Please choose how useful you think the chatbot would be for training");
//                                                         }else{
//                                                             socket.emit('log_user_feedback', {data: $('form').serialize()});// , counselorId: document.getElementById('counselor_form').elements['counselorId'].value});
//                                                             // submit to our server
//     //                                                            $('form').submit();//  debug
//                                                            }}}}}}}}
//                         });
                });

            </script>
            <div>
                <h1 class="title is-4" style="width: 100%; text-align: left;">Welcome to our chatbot study! Testing interleaved</h1>
<!-- 
                Crisisbot is a tool that we are developing to help suicide prevention hotline counselors practice counseling. 
                It is a fictional person contacting a fictional text hotline for help. 
                Try chatting with Crisisbot to see how well it simulates a hotline visitor.
 -->
<!--                 <br> -->
                <br>
                <b>Instructions:</b>
                <br>
                To complete this task and be compensated for your time, you must chat with the system and take a survey.
                Before you can take the survey, you must write 12 messages and the system must respond 12 times. 
                You can only send one message at a time and we log your interactions.
<!--                 This task should take approximately 10 minutes, so you will be offered $5 for each conversation and survey you complete, up to the number of conversations requested by the researchers. -->
                <br>
                
                Please note that if you refresh this page, the conversation will start over and you'll lose your current conversation. 
                <br>
<!-- 
                <br> 
                <b> Note: Crisisbot is a simulation, not a human. All conversations and names are fictional.</b> 
                However, because Crisisbot is simulating someone in distress, it may generate upsetting content, including suicidal ideation, self-harm, and symptoms of depression.
                If you are upset by the simulation, you may stop the task at any time.
                <br>
 -->
                <br>
                <p><small><i>The following task is part of a research study at the University of California, Berkeley and University of California, Davis. 
                You have the right to decline to participate or to withdraw by not completing this task. 
                If you have not completed the online consent form and entry survey, please contact the researchers for more information: odemasi@ucdavis.edu or (510) 776-9028.
                </i></small></p>
                <br>
                <br>
               
            </div>
            
            
            <div class="columns is-centered is-multiline">
                <h1 class="title is-4" style="width: 100%; text-align: left;">Enter your Participant ID before chatting</h1>
                <div class="column is-one-half">
                    <div class="container" style="width: 100%;">             
                        <input class="input" id="pid_input" placeholder="Enter your Participant ID and press enter to send."><br><br>  
                    </div>
                </div>
                <div class="column is-one-half">
                    <div class="container" style="width: 100%;"> 
                        <textarea readonly class="textarea" id="pid_received" style="resize: none;" rows="1"></textarea><br>
                    </div>
                </div>
            </div>    
                
                
            <div class="columns is-centered is-multiline">

                <!-- Center column -->
<!--                 <div class="column is-one-half"> -->
                    <div class="container" style="width: 100%;">

                        <!-- Title -->
                        <h1 class="title is-4" style="width: 100%; text-align: center;">Chat</h1>

                        <!-- Text area and input area -->
                        <textarea readonly class="textarea" id="chat" style="height: 400px;"></textarea><br>
                        <input class="input" id="interleave_text" placeholder="Enter your message here and press enter to send."><br><br>                                  
                    </div>
<!--                 </div> -->

                <!-- Right column : what user sees -->

<!-- 
                <div class="column is-one-half">
                    <div class="container" style="width: 100%;">

                        <!~~ Title ~~>
<!~~                         <h1 class="title is-4" style="width: 100%; text-align: center;">Response candidates</h1> ~~>

                        <!~~ Text area and input area ~~>
<!~~                         <textarea readonly class="textarea" id="candidates" style="height: 450px;"></textarea><br> ~~>
                   
                                                <!~~ Title ~~>
                        <h1 class="title is-4" style="width: 100%; text-align: center;">Suggestions for crisis counseling</h1>
                        <b> Ask Open-ended Questions</b>, e.g., "How's your day going?" "How does that make you feel?" "Would you like to tell me more about it?"
                        <br>
                        <b> Validate feelings</b>, e.g., "It sounds like you are really going through a lot." "That sounds really stressful."
                        <br>
                        <b>Summarize what you hear</b>, e.g., "I'm hearing that school is really important to you and how upset you are about failing your test."
                        <br>
                        <b>Focus on feelings</b>, e.g., "It sounds like you are feeling overwhelmed."
                        <br>
                        <br>
                        After learning about the problems facing Crisisbot, try helping: 
                        <br><br>
                        <b>Identify resources</b>, e.g., "Have you tried reaching out to talk to anyone about everything you have going on?"
                        <br>
                        <b>Make a coping plan</b>, e.g., "During difficult times like these, is there anything you can do to take your mind off of things?" "When you feel like this, is there anything you do to cope?"
                        <br>[More suggestions coming soon!]
                        
                    </div>
                </div>
 -->
                

            </div> 
               <!-- 
 <h1 class="title is-4" style="width: 100%; text-align: left;">Feedback</h1>
                <input class="input" id="feedback" placeholder="Enter feedback and press enter to send."><br><br>  
                <textarea readonly class="textarea" id="feedback_received" style="height: 20px;"></textarea><br>
            
 -->
            <h1 class="title is-4" style="width: 100%; text-align: left;">Survey will appear after you have completed the conversation (12 messages)</h1>
                <div class="content_section" style="visibility: hidden;">
                
                    <h1 class="title is-4" >Thanks for chatting with the system! You may continue chatting and when done, please take this survey about your conversation (required)</h1>
                    
                    <b> QUALTRICS INTEGRATION HERE! </b>
                    
                    <!-- 

                    <form id="counselor_form"> <!~~ method="post" action="{{ turk_submit_url }}"> ~~>
                        
                
                        
                        <br>
                        <b> How coherent was the conversation? </b> 
                        <div class="control">
                            <input type="radio" name="coherent" value="coherent-1" required>
                            1 (didn't make sense)
                            <input type="radio" name="coherent" value="coherent-2">2
                            <input type="radio" name="coherent" value="coherent-3">3
                            <input type="radio" name="coherent" value="coherent-4">4
                            <input type="radio" name="coherent" value="coherent-5">
                            5 (could have been a human)
                        </div>
                        
                        
                        
                        <br>
                        <b> How realistic was the conversation as a simulation of a hotline visitor? </b> 
                        <div class="control">
                            <input type="radio" name="realistic" value="realistic-1" required>
                            1 (it wasn't anything like chatting with a real hotline visitor)
                            <input type="radio" name="realistic" value="realistic-2">2
                            <input type="radio" name="realistic" value="realistic-3">3
                            <input type="radio" name="realistic" value="realistic-4">4
                            <input type="radio" name="realistic" value="realistic-5">
                            5 (very realistic and representative of what visitor conversations are like)
                        </div>
                        
                        
                        
                        
                        <br>
                        <b> How consistent was the persona?</b> 
                        <div class="control">
                          <label class="radio">
                            <input type="radio" name="consistent" value="consistent-1" required>
                            1 (many contradictory statements)
                          </label>
                          <label class="radio">
                            <input type="radio" name="consistent" value="consistent-2" required>2
                          </label>
                          <label class="radio">
                            <input type="radio" name="consistent" value="consistent-3" required>3
                          </label>
                          <label class="radio">
                            <input type="radio" name="consistent" value="consistent-4" required>4
                          </label>
                          <label class="radio">
                            <input type="radio" name="consistent" value="consistent-5" required>
                            5 (consistent and plausible person)
                          </label>
                        </div>
                        
                        
                        
                       <br>
                        <b> How similar was Crisisbot's persona to previous conversations that you have had with Crisisbot~~was it the same persona?  </b> 
                        <div class="control">
                            <input type="radio" name="similarity" value="similarity-0" required>
                            This is my first conversation with Crisisbot <br>
                            <input type="radio" name="similarity" value="similarity-1" required>
                            1 (very similar or too generic to tell the difference)
                            <input type="radio" name="similarity" value="similarity-2">2
                            <input type="radio" name="similarity" value="similarity-3">3
                            <input type="radio" name="similarity" value="similarity-4">4
                            <input type="radio" name="similarity" value="similarity-5">
                            5 (it was like I was chatting with a new person)
                        </div>
                        
                        
                        
                        
                        <br>
                        <b> How fluent and grammatical were the responses?</b> 
                        <div class="control">
                          <label class="radio">
                            <input type="radio" name="fluent" value="fluent-1" required>
                            1 (constant mistakes, poor english)
                          </label>
                          <label class="radio">
                            <input type="radio" name="fluent" value="fluent-2" required>2
                          </label>
                          <label class="radio">
                            <input type="radio" name="fluent" value="fluent-3" required>3
                          </label>
                          <label class="radio">
                            <input type="radio" name="fluent" value="fluent-4" required>4
                          </label>
                          <label class="radio">
                            <input type="radio" name="fluent" value="fluent-5" required>
                            5 (no mistakes)
                          </label>
                        </div>
                        
                        
                        
                        <br>
                        <b> How detailed were the chatbot’s responses?</b> 
                        <div class="control">
                          <label class="radio">
                            <input type="radio" name="specific" value="specific-1" required>
                            1 (only vague answers without any detail)
                          </label>
                          <label class="radio">
                            <input type="radio" name="specific" value="specific-2" required>2
                          </label>
                          <label class="radio">
                            <input type="radio" name="specific" value="specific-3" required>3
                          </label>
                          <label class="radio">
                            <input type="radio" name="specific" value="specific-4" required>4
                          </label>
                          <label class="radio">
                            <input type="radio" name="specific" value="specific-5" required>
                            5 (lots of details)
                          </label>
                        </div>
                        
                        
                        
                        <br>
                        <b> Overall, how human-like was the chatbot?</b> 
                        <div class="control">
                          <label class="radio">
                            <input type="radio" name="humanlike" value="humanlike-1" required>
                            1 (not at all)
                          </label>
                          <label class="radio">
                            <input type="radio" name="humanlike" value="humanlike-2" required>2
                          </label>
                          <label class="radio">
                            <input type="radio" name="humanlike" value="humanlike-3" required>3
                          </label>
                          <label class="radio">
                            <input type="radio" name="humanlike" value="humanlike-4" required>4
                          </label>
                          <label class="radio">
                            <input type="radio" name="humanlike" value="humanlike-5" required>
                            5 (could have been a human)
                          </label>
                        </div>
                        
                        
                        
                        <br>
                        <b> If you were training to be a counselor, how useful would this conversation have been for your training?</b> 
                        <div class="control">
                          <label class="radio">
                            <input type="radio" name="useful" value="useful-1" required>
                            1 (not at all useful)
                          </label>
                          <label class="radio">
                            <input type="radio" name="useful" value="useful-2" required>2
                          </label>
                          <label class="radio">
                            <input type="radio" name="useful" value="useful-3" required>3
                          </label>
                          <label class="radio">
                            <input type="radio" name="useful" value="useful-4" required>4
                          </label>
                          <label class="radio">
                            <input type="radio" name="useful" value="useful-5" required>
                            5 (very useful)
                          </label>
                        </div>
                        
                        
                        <br>
                        <b> What did you like most about the conversation?</b> 
                        <br>
                        <textarea name="liked" rows=5 cols=60 placeholder="Enter things you liked about the conversation here"></textarea>
                        <br /><br />
                        
                        
                        <br>
                        <b> What did you dislike about the conversation? Please give some advice on how to improve.</b> 
                        <br>
                        <textarea name="disliked" rows=5 cols=60 placeholder="Enter things you disliked about the conversation here"></textarea>
                        <br /><br />
                        
                        
                        <br>
                        <b> Any other feedback on this conversation? (optional)</b> 
                        <br>
                        <textarea name="feedback" rows=5 cols=60 placeholder="Enter any additional feedback you have here"></textarea>
                        <br /><br />
                        
                        <button class="btn btn-success" type="submit" value="Submit" id="UserSubmitButton">Finish and Submit Survey</button>
                    </form>
 -->
            
            <div >
                
            </div>           
        </section>
    </body>
</html>


<!-- textarea elements get updated by id and the id connects them to a socket, e.g., id="chat" >>>> #chat -->
